#app {
    display: flex;
    margin: 2rem 1rem;
}

#chart {
    box-shadow: 0 2px 8px rgba(0,0,0, .26);
    padding: 1rem;
}

#chart, #data {
    margin: 0 2rem;
}

.bar {
    fill: #4f009e;
}

.label{
    fill: #4f009e;
}

#data ul {
    display: flex;
}

#data ul li {
    border: 1px solid red;
    list-style: none;
    padding: 10px 20px;
}